.header {
  grid-area: header;
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgb(146,86,186);
  background: linear-gradient(90deg, rgba(146,86,186,1) 18%, rgba(86,77,217,1) 51%, rgba(98,181,173,1) 94%);
}

.header__container {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
}
.logo__container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  font-size: 30px;
  font-family: "Gill Sans", sans-serif;
}
.header__logo {
  width: 70px;
  height: 60px;
}

.header__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.header__img {
  height: 50px;
  width: 50px;
}

.header__button {
  width: 156px;
  height: 60px;
  background-color: black;
  border-radius: 25px;
  border: 2px solid #0078D4;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}