.navbar{
    grid-area: nav;
    border-radius: 0px 0px 0px 22px;
    background: rgb(18,47,82);
    background: linear-gradient(0deg, rgba(18,47,82,1) 43%, rgba(146,86,186,1) 98%);
}
.navbar__list{
    margin: 110px auto;
    list-style-type: none;
}
.navbar__item{
    margin: 30px auto;
}
.navbar__link{
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Gill Sans", sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    color: black;
}
.home_icon{
    width: 60px;
    height: 60px;
}

a.active{
    color: green;
}