.dialogs{
    grid-area: contents;
    height: 830px;
}
.dialogs__container{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.dialogs__menu{
    width: 25%;
    min-height: 570px;
    background: #c7daed;
    border-radius: 0px 22px 22px 0px;
}
.dialogs__avatars{
    padding: 45px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dialogs__img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #fff;
}

.dialogs__avatar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 13px;
}
.dialog__shortMes{
    display: flex;
    flex-direction: column;
}
.dialogs__mes{
    margin-top: -10px;
}

.dialogs__messages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    height: 97%;
    padding: 10px 10px 5px 20px;
    border-bottom: 2px solid #2B2B2B;
}
.form__container{
    margin: auto 0;
    margin-bottom: 0px;
}
.dialogs__form{
    position: relative;
    bottom: 0px;
    left: 20px;
    max-height: 41px;
    display: flex;
    padding-bottom: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.dialogs__form input{
    width: 80%;
    border-radius: 20px;
    height: 30px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #2B2B2B;
}
.dialogs__form button{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 15px;
    border: 2px solid #2B2B2B;
    background-color: #a6d987;
    cursor: pointer;
    position: relative;
}
.svg__btn{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 30px;
    height: 30px;
}